html{
    height:100%;
}
body{
    height:100%;
    position:relative;
}
li{
    list-style:none;
}

/*µ×²¿²à±ßÀ¸*/
main{
    height:100%;
}
.aside{
    padding-top:40px;
    height:100%;
    float:left;
    overflow:hidden;
}
.aside .list-box{
    width:90px;
}
.aside .list-box .active a{
    background-color:#fff;
    border-right-color:#fff;
    color:#e4393c;
}
.aside .list-box a{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-top:none;
    background-color:#eee;
    display:block;
    height:50px;
    line-height:50px;
    text-align:center;
    width:100%;
    font-size:14px;
}
.detail{
    height:100%;
    padding-top:40px;
    margin-left:90px;
    overflow:hidden;
}
.detail .detail-container{
    width:100%;
    padding:8px 10px;
}
.detail-container .banner-box{
    margin-bottom:6px;
}
.detail .detail-container .banner-box a{
    display:block;
}
.detail .banner-box a img{
    width:100%;
}
.detail-container .jd-product-cat .jd-product-title{
    font-weight:normal;
    font-size:14px;
}
.jd-product-cat .jd-product-cat-item{
    width:100%;
    margin:12px 0;
}
.jd-product-cat .jd-product-cat-item li{
    width:33.3333%;
    float:left;
    text-align:center;
}
.jd-product-cat .jd-product-cat-item a{
    width:100%;
    display:block;
}
.jd-product-cat .jd-product-cat-item a img{
    width:64%;
}
.jd-product-cat .jd-product-cat-item a p{
    line-height:30px;
    font-size:12px;
}